@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/woff/IRANYekanX-Bold.woff') format('woff'),   
	url('/fonts/woff2/IRANYekanX-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/woff/IRANYekanX-Regular.woff') format('woff'),   
	url('/fonts/woff2/IRANYekanX-Regular.woff2') format('woff2');	
}

:root {
  font-family: IRANYekanX;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

